/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200..900&display=swap');

body {
    background: black;
    color: white;

    font-family: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 17vh;
    line-height: 17vh;
    padding-bottom: 1.5vh;
    margin: 0;
}

span {
    font-size: 12vh;
}

small {
    font-size: 10vh;
}

body {
    margin: 0;
    padding: 12vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 12vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#img_container {
    height: 100%;
    aspect-ratio: 1/1;
    background: #111111;
    border-radius: 4vh;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0 0 0 2vh #00000020;
    transition: background-color 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#img_container::after {
    position: absolute;
    content: "";
    inset: 0;

    box-shadow: inset 0 0 0 1vh #FFFFFF20;
    border-radius: 4vh;
    z-index: 4;
}

#img_placeholder {
    color: white;
    opacity: 0.5;
    z-index: 0;

    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img_song {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    position: absolute;
}

.overlay_icon {
    height: 25vh;
    padding: 5vh;

    background: #000000AA;
    color: white;
    backdrop-filter: blur(8px);

    border-radius: 100%;

    display: block;

    transition: opacity 0.1s ease-out;

    z-index: 3;
}

#img_pause_icon {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#preview_play_btn {
    position: absolute;
    top: 5vh;
    right: 5vh;

    display: flex;

    outline: none;
    border: none;

    cursor: pointer;

    padding: 0;
    transition: none;
    opacity: 0;
}

#preview_play_btn:hover > * {
    opacity: 1;
    background: #000000CC;
    box-shadow: 0 0 0px 1px #ffffff80;
}

#preview_play_btn.playing {
    opacity: 1;
}

#img_container:hover #preview_play_btn.can_preview {
    opacity: 1;
}

#song_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#song_info_strings {
    line-height: 16vh;
    text-decoration: none;
    color: unset;
}

#song_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

#song_artist,
#song_album {
    color: #FFF;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: clip;
    text-overflow: ellipsis;
    display: block;
    letter-spacing: 0.025em;
}

#song_album {
    color: #FFFFFF80;
    mix-blend-mode: plus-lighter;
    margin-top: -0.1rem;
}

#progressbar_div {
    /* Should be display: flex; */
    flex-direction: column;
    gap: 4vh;

    display: none;
}

#progressbar_times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #FFFFFF60;
    mix-blend-mode: plus-lighter;
}

#progressbar {
    height: 2vh;

    display: flex;

    background: #FFFFFF40;
    mix-blend-mode: plus-lighter;
    border-radius: 2vh;
    overflow: hidden;
}

#progressbar_current_bar {
    height: 100%;

    background: white;

    transition: width 1s linear;
}

#progressbar_current_bar.fast_animation {
    transition: width 0.25s linear;
}

#nowplaying_state_div {
    display: flex;
    gap: 6vh;
    align-items: center;
}

#nowplaying_state_icon {
    height: 8vh;
}

#nowplaying_state_div small {
    color: #FFFFFF80;
    mix-blend-mode: plus-lighter;
}